<launch>  
  <!-- Navigation -->
  <include file="$(find pr2_2dnav)/pr2_2dnav.launch" />
  <!-- Fiducials -->
  <include file="$(find ar_track_alvar)/launch/pr2_indiv.launch" />
  <include file="$(find ar_track_alvar)/launch/kinect.launch" />
  <!-- Kinematics -->
  <include file="$(find pr2_rviz_ik)/launch/ik_robot.launch" />
</launch>
